
  <div>
    <div class="container-fluied"></div>
    <h1 style="color: rgb(173, 49, 49); font-size: 50px; position: absolute;">Pairing
      System</h1>
    <br>
    <input style="height: 70px ;width: 350px; font-size: 50px; color:rgb(255, 255, 255); background-color: rgb(42, 99, 54); border-radius: 25px;float: left; position: absolute; top:100;;
    left: 50;"
      type="submit" value="Add Student" ng-click="$ctrl.addclicked()">

    <input style="height: 70px ;width: 350px; font-size: 50px; color:rgb(255, 255, 255); background-color: rgb(42, 99, 54); border-radius: 20px;position: absolute;top:200; left: 50;"
      type="Submit" value="Shoose Pairing" ng-click="$ctrl.pairingclicked()">

    <input style="height: 70px ;width: 350px; font-size: 50px; color:rgb(255, 255, 255); background-color: rgb(42, 99, 54); border-radius: 20px;position: absolute;top:300; left: 50;"
      type="Submit" value="Show History" ng-click="$ctrl.historyclicked()">

    <div>
    </div>
  </div>
  </div>
  </div>

