
<div ng-controller="AppCtrl">
  <div class="container-fluied" Students="$ctrl.obj"></div>
  <h1 style="color: rgb(173, 49, 49); font-size: 50px; position: absolute;" >Shoose Pairing</h1>
  <br>

  <input style="height: 50px ;width: 200px; color:rgb(0, 0, 0); border-radius: 20px;position: absolute;top:150; left: 50;"
    type="Submit" value="shoose Pairing" ng-click= "$ctrl.pairing(data)">
  <div ng-repeat="student in Students " >
    <!-- student1: {{student.obj.student1}} student2:{{obj.student2}} -->
  </div>

  <input style="height: 50px ;width: 200px; color:rgb(0, 0, 0); border-radius: 20px;position: absolute;top:300; left: 50;"
    type="Submit" value="Save">

  <div>
  </div>
</div>
</div>
</div>